files:
  "/etc/filebeat/filebeat.yml":
    mode: "000644"
    owner: root
    group: root
    content: |
      ############################# Filebeat #####################################
      filebeat:
        prospectors:
          -
            paths:
              - /var/log/nginx/access.log
            fields:
              product: PRODUCT
              version: VERSION
            fields_under_root: true
            ignore_older: 3h
        registry_file: /var/lib/filebeat/registry
      ############################# Output ##########################################
      output:
        logstash:
          hosts: ["10.0.0.215:5043"]

packages:
  rpm:
    filebeat: https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.0.0-x86_64.rpm

commands:
  filebeat_start:
    command: "/etc/init.d/filebeat restart"
